#ignore compiled files
*.class
*.jar

# ignore log files
*.log

#ignoring specific directories
.vscode/
src/main/resources
src/test/resources
Input.wav
prompt.txt
promptTest.txt
recipe.txt
recipes.csv