#ignore compiled files
*.class
# *.jar

# ignore log files
*.log

#ignoring specific directories
# .vscode/launch.json
src/main/resources/Input.wav
src/main/resources/prompt.txt
src/main/resources/recipe.txt
src/main/resources/autologin.txt
src/test/resources/promptTest.txt
!src/main/resources/
src/main/.DS_Store
bin/main/java
bin/test
generated_img/*
.DS_Store
Input.wav
prompt.txt
lib/win